<div class="row">
  <div class="col-12 col-sm-6 offset-sm-3">

    <div class="card">
      <div class="card-header bg-primary text-light">
        Formulario de Region
      </div>
      <div class="card-body">

        <form method="POST" action="/admin/{{#if editMode}}edit-region{{else}}add-region{{/if}}">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" {{#if editMode}} value="{{region.name}}" {{/if}} class="form-control" id="name" name="Name" />
          </div>
        {{#if editMode}}
          <input type="hidden" value="{{region.id}}" name="RegionId">
        {{/if}}

          <button type="submit" class="btn btn-primary float-end">Save</button>
           <a href="/admin/regiones" class="btn btn-warning float-end me-2">Back to list</a>
        </form>
      </div>
    </div>
  </div>
</div>